a {
    text-decoration: none;
}
#footerindex {
    background-color: #282A35;
    height: auto;
    background-image: url(../images/lynx_landing.png),url(../images/background_in_space.gif);
    object-fit: cover;
    background-size: auto,cover;
    background-repeat: no-repeat , repeat;
    background-position-x: 100%, center;
    background-position-y: 100%, center;
}
.footer {
    padding-bottom: 5em;
}
.footer .tag-on {
    width: 100%;
    display: flex;
    padding-left: 7em;
    padding-top: 6em;
    padding-right: 0;
    /* position: fixed; */
}
.footer div{
    width: fit-content;
}
.footer .tag-on img {
    width: 50px;
    /* position: relative; */
    /* bottom: 5em; */
    /* margin-top: 2em; */
    padding-right: 10px;
    /* padding-bottom: 5em; */
}
.footer .tag-on a {
    text-decoration: none;
    color: #FFF4A3;
    padding: 2.5em;
    font-size: 15px;
    font-weight: 500;
    
}

/* section2 ********************************/
.section2 {
    text-align: left;
    display: flex;
    padding: 2rem 7rem;
    width: fit-content;
}
.section2 a {
    color: #ddd;
    text-align: left;
    text-decoration: none;
    line-height: 1.4em;
}
.section2-1 , .section2-2 , .section2-3 , .section2-4 {
    font-size: 11px;
    font-weight: 550;
}
.section2-1 {
    text-align: left;
    width: auto; 
    display: flex;
    flex-direction: column;
    margin-right: 8rem;
}
.section2-2 {
    text-align: left;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-right: 8rem;
    margin-left: 1rem;
}
.section2-3 {
    text-align: left;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-right: 9rem;
    margin-left: 1.5rem;
}
.section2-4 {
    text-align: left;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    /* margin-right: 0rem; */
}

/* section3 **********************************/
.section3 {
    color: #ddd;
    font-size: 12px;
    padding: 0rem 7rem ;
    margin-top: 1.5rem;
}
.section3 i{
    color: #ddd;
    font-size: 20px;
    padding: 0.3em;
}
.section3 a{
    color: #ddd;
    padding: 0.5em;
    font-size: 16px;
}
.section3 p{
    /* color: #ddd; */
    /* font-size: 13px; */
    line-height: 1em;
}
.p-1 .p-2 .p-3 {
    color: #ddd;
}

@media screen and (max-width:320px){
    .section2, .tag-on {
        flex-direction: column;
    }
    .section2 .section2-1,.section2 .section2-2 ,.section2 .section2-3,.section2 .section2-4{
        margin: 0;
    }

    .footer .tag-on {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 80%;
        display: flex;
        padding-left: 0em;
        padding-top: 5em;
        padding-right: 0;
    }
    .footer div{
        width: fit-content;
    }
    .footer .tag-on img {
        width: 45px;
        position: relative;
        bottom: 1em;
        /* padding-right: 10px; */
    }
    .tag-on a {
        text-decoration: none;
        color: #FFF4A3;
        /* padding: 2.5em; */
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        padding: 0;
        
        
    /* section2 */
    .section2 {
        display: flex;
        justify-content: center;
        text-align: center;
        display: flex;
        padding: 0;
    }
    .section2 a {
        color: #ddd;
        text-decoration: none;
        line-height: 1.4em;
    }

    


}
}