/* html {
    overflow-x: hidden;
}

* {
    max-width: 100%;
} */


/* nav */

nav{
    text-transform: uppercase;
    overflow-x: hidden;

}
.Listitem {
    display: flex;
    flex-direction: row;
    height: 30px;
    background-color: #282A35;
    overflow: scroll;
    /* width: 100%; */
}


.Listitem::-webkit-scrollbar{
    display: none;
}
.Listitem a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 2.5em;
    /* margin-right: 1em; */
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.Listitem a:hover{
    background-color: #000000;
    color: white;
}


/* media ******************************/
@media screen and (max-width:320px){
    html {
        overflow-x: hidden;
    }
    
    * {
        max-width: 100%;
    }
    .Listitem {
        flex-direction: row;
        height: 30px;
        background-color: #282A35;
        overflow: scroll;
        width: 310px;
    }

}