/* nav */
nav{
    text-transform: uppercase;
}
.Listitem {
    display: flex;
    flex-direction: row;
    height: 30px;
    background-color: #282A35;
    overflow: scroll;
}


.Listitem::-webkit-scrollbar{
    display: none;
}
.Listitem a{
    align-items: center;
    justify-content: center;
    padding: 5px 15px 5px 15px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.Listitem a:hover{
    background-color: #000000;
    color: white;
}


/* media ******************************/
@media screen and (max-width:320px){
    .Listitem {
        flex-direction: row;
        height: 30px;
        background-color: #282A35;
        overflow: scroll;
        width: 310px;
    }

}